<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h3>Schedular Expression Maker</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['seconds']">Seconds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['minutes']">Minutes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['hours']">Hours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['day']">Day</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['month']">Month</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['year']">Year</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>