<div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="option"
        id="option1"
        value="every"
        [(ngModel)]="monthService.monthModel.type"
        (change)="onTypeSelect($event)"
        checked
      />
      <label class="form-check-label" for="option1">
        Every month
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="option"
        id="option2"
        value="custom"
        [(ngModel)]="monthService.monthModel.type"
        (change)="onTypeSelect($event)"
      />
      <label class="form-check-label" for="option2">
        Custom
        <div class="row">
          <div class="col-md-12">
            <div class="form-check mt-1">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                [disabled]="!isCustom"
                [(ngModel)]="monthService.monthModel.custom.repeat.isRepeat"
              />
              <div class="form-check-label">
                  <span>Every </span>
                  <label>
                      <select
                      class="form-select form-select-sm"
                      [(ngModel)]="monthService.monthModel.custom.repeat.interval"
                    >
                      <option *ngFor="let month of monthsList; let i = index" [value]="i">{{i+1}}</option>
                    </select>
                  </label>
                  <span> month(s) starting at month </span>
                  <label>
                      <select
                      class="form-select form-select-sm"
                      [(ngModel)]="monthService.monthModel.custom.repeat.startAt"
                    >
                      <option *ngFor="let month of monthsList; let i = index" [value]="i">{{month}}</option>
                    </select>
                  </label>
              </div>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                [disabled]="!isCustom"
                [(ngModel)]="monthService.monthModel.custom.specific.isSpecific"
              />
              <label class="form-check-label" for="flexCheckChecked">
                Specific month(s) (choose one or many)
                <ng-multiselect-dropdown
                  [placeholder]="'select month(s)'"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  [(ngModel)]="monthService.monthModel.custom.specific.values">
                </ng-multiselect-dropdown>
              </label>
            </div>
            <div class="form-check mt-1">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                [disabled]="!isCustom"
                [(ngModel)]="monthService.monthModel.custom.between.isBetween"
              />
              <div class="form-check-label">
                  <span>Every month between month </span>
                  <label>
                    <select
                    class="form-select form-select-sm"
                    [(ngModel)]="monthService.monthModel.custom.between.from"
                  >
                    <option *ngFor="let month of monthsList; let i = index" [value]="i">{{month}}</option>
                  </select>
                </label>
                <span> and month </span>
                <label>
                    <select
                    class="form-select form-select-sm"
                    [(ngModel)]="monthService.monthModel.custom.between.to"
                  >
                    <option *ngFor="let month of monthsList; let i = index" [value]="i">{{month}}</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>