<div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="option"
        id="option1"
        value="every"
        [(ngModel)]="hoursService.hourModel.type"
        (change)="onTypeSelect($event)"
        checked
      />
      <label class="form-check-label" for="option1">
        Every hours
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="option"
        id="option2"
        value="custom"
        [(ngModel)]="hoursService.hourModel.type"
        (change)="onTypeSelect($event)"
      />
      <label class="form-check-label" for="option2">
        Custom
        <div class="row">
          <div class="col-md-12">
            <div class="form-check mt-1">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                [disabled]="!isCustom"
                [(ngModel)]="hoursService.hourModel.repeat"
              />
              <div class="form-check-label">
                  <span>Every </span>
                  <label>
                      <select
                      class="form-select form-select-sm"
                      [(ngModel)]="hoursService.hourModel.repeatInterval"
                    >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                    </select>
                  </label>
                  <span> hour(s) starting at hour </span>
                  <label>
                      <select
                      class="form-select form-select-sm"
                      [(ngModel)]="hoursService.hourModel.repeatStartAt"
                    >
                      <option value="00">00</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                    </select>
                  </label>
              </div>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                [disabled]="!isCustom"
                [(ngModel)]="hoursService.hourModel.specific"
              />
              <label class="form-check-label" for="flexCheckChecked">
                Specific hour(s) (choose one or many)
                <ng-multiselect-dropdown
                  [placeholder]="'select hour(s)'"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  [(ngModel)]="hoursService.hourModel.specificHours">
                </ng-multiselect-dropdown>
              </label>
            </div>
            <div class="form-check mt-1">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                [disabled]="!isCustom"
                [(ngModel)]="hoursService.hourModel.between"
              />
              <div class="form-check-label">
                  <span>Every hour between hour </span>
                  <label>
                    <select
                    class="form-select form-select-sm"
                    [(ngModel)]="hoursService.hourModel.betweenFrom"
                  >
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    </select>
                  </label>
              </div>
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>
  