<div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="every"
      id="option1"
      value="every"
      [(ngModel)]="secondsService.secondModel.type"
      (change)="onTypeSelect($event)"
      checked
    />
    <label class="form-check-label" for="option1">
      Every second
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="custom"
      id="option2"
      value="custom"
      [(ngModel)]="secondsService.secondModel.type"
      (change)="onTypeSelect($event)"
    />
    <label class="form-check-label" for="option2">
      Custom
      <div class="row">
        <div class="col-md-12">
          <div class="form-check mt-1">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              [disabled]="!isCustom"
              [(ngModel)]="secondsService.secondModel.custom.repeat.isRepeat"
            />
            <div class="form-check-label">
                <span>Every </span>
                <label>
                    <select
                    class="form-select form-select-sm"
                    [(ngModel)]="secondsService.secondModel.custom.repeat.repeatInterval"
                  >
                    <option *ngFor="let num of zeroTo59" [value]="num+1">{{num+1}}</option>
                  </select>
                </label>
                <span> second(s) starting at second </span>
                <label>
                    <select
                    class="form-select form-select-sm"
                    [(ngModel)]="secondsService.secondModel.custom.repeat.repeatStartAt"
                  >
                    <option *ngFor="let num of zeroTo59" [value]="num">{{num}}</option>
                  </select>
                </label>
            </div>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              [disabled]="!isCustom"
              [(ngModel)]="secondsService.secondModel.custom.specific.isSpecific"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Specific second(s) (choose one or many)
              <ng-multiselect-dropdown
                [placeholder]="'select second(s)'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="secondsService.secondModel.custom.specific.specificValues"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </label>
          </div>
          <div class="form-check mt-1">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              [disabled]="!isCustom"
              [(ngModel)]="secondsService.secondModel.custom.between.isBetween"
            />
            <div class="form-check-label">
                <span>Every second between second </span>
                <label>
                  <select
                  class="form-select form-select-sm"
                  [(ngModel)]="secondsService.secondModel.custom.between.betweenFrom"
                >
                  <option *ngFor="let num of zeroTo59" [value]="num">{{num}}</option>
                </select>
                </label>
                <span> and second </span>
                <label>
                    <select
                    class="form-select form-select-sm"
                    [(ngModel)]="secondsService.secondModel.custom.between.betweenTo"
                  >
                    <option *ngFor="let num of zeroTo59" [value]="num">{{num}}</option>
                  </select>
                </label>
            </div>
          </div>
        </div>
      </div>
    </label>
  </div>
</div>
